<h1>Flickr Stream</h1>

<p>This is the stream of user...</p>
<p>
  <%= CONFIG[:my_flickr_user] %><br>
</p>


<% @sets_of_photos.each do | photo_set | %>
  <h3><%= photo_set[:title] %></h3>
  <% photo_set[:photos].each do |the_photo| %>
        <% @the_photo= the_photo %>
        <%= render "photo_insert", object: @the_photo %>
  <% end %>
    </p>
<% end %>
