<h1>Flickr Stream</h1>

<p>This is the stream of user...</p>
<p>
  <%= CONFIG[:my_flickr_user] %><br>
</p>


<% @psets_hash.each do | set_id, title | %>
  <h3><%= title %></h3>
  <% pics_in_set(set_id).to_hash["photo"].each do |the_photo| %>
        <% @the_photo= the_photo %>
        <%= render "photo_insert", object: @the_photo %>
      <% end %>
    </p>
<% end %>
