<h1>GoogleApi#youtube</h1>
<br>

<p>
  <%= @video_results %>

</p>
<p>
  Just the "items":<br>
  <% @video_list_response.data.to_hash["items"].each do |thing| %>
    <%= thing %><br><br>
  <% end %>
</p>